@font-face {
    font-family: 'Shrikhand';
    font-style: italic;
    font-weight: 400;
    src: local('Shrikhand'), url('https://fonts.cdnfonts.com/s/15330/Shrikhand-Regular.woff') format('woff');
}


