body {
  margin: 0px;
  font-family: Roboto, sans-serif;
}

/*maps*/
.headerproperty, .menu-card_btncommander, main .stepnumber, .header .banner p, .header .banner h1, .headersearch {
  text-align: center;
}

/* header*/
.header {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerlogo {
  width: 40%;
  margin-bottom: 10px;
}
.headersearch {
  background-color: gainsboro;
  padding-top: 20px;
  box-shadow: inset 0 7px 10px -6px grey;
  width: 100%;
  height: 40px;
  color: black;
}
.headerinput {
  background-color: transparent;
  border: 0px;
  font-weight: bold;
  width: 120px;
}
.header .banner {
  background-color: #F5F5F5;
  width: 100%;
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .banner h1 {
  font-size: 30px;
  padding-top: 10px;
}
.header .banner p {
  font-size: 20px;
  color: #434343;
}
.header .bannerbutton {
  border-radius: 30px;
  padding: 20px;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 17px;
  font-weight: bold;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-decoration: none;
  margin-top: 15px;
}
.header .banner a:hover {
  opacity: 0.8;
}

#paris::placeholder {
  color: black;
}

/*block fontionnement*/
main {
  display: flex;
  flex-direction: column;
  align-items: initial;
}
main h2 {
  margin-left: 20px;
}
main .blocksteps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
}
main .step {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 20px;
  padding: 10px;
  color: black;
  background: #F5F5F5;
  font-size: 18px;
  font-weight: bold;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-decoration: none;
  width: 80%;
  height: 50px;
  margin-bottom: 20px;
}
main .step:hover {
  background: #e4d5f6;
}
main .step:hover .stepicon {
  color: #9356DC;
}
main .stepnumber {
  border-radius: 50%;
  padding: 3px;
  color: #fff;
  background: #9356DC;
  font-size: 15px;
  font-weight: lighter;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-decoration: none;
  width: 20px;
  height: 19px;
  margin-left: -20px;
}
main .steptext {
  margin-left: 20px;
}
main .stepicon {
  color: #767676;
  padding-right: 20px;
  width: 20px;
}
main .restaurant {
  display: flex;
  flex-direction: column;
  align-items: initial;
  background-color: #F5F5F5;
  padding-top: 15px;
}
main .restaurant-card {
  display: flex;
  flex-direction: column;
  align-items: initial;
  margin-left: 15px;
  background-color: white;
  width: 90%;
  height: auto;
  border-radius: 20px;
  text-decoration: none;
  color: black;
  margin-bottom: 30px;
  height: 255px;
}
main .restaurant-card_image {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 180px;
  object-fit: fill;
  width: 100%;
}
main .restaurant-card .imgfix {
  object-position: 40% 60%;
  object-fit: cover;
}
main .restaurant-card_badge {
  position: absolute;
  background-color: #99E2D0;
  color: #278870;
  right: 35px;
  margin-top: 20px;
  padding: 7px 15px;
  font-size: 18px;
  border-radius: 5px;
}
main .restaurant-card h3 {
  margin: 0px;
  margin-top: 8px;
}
main .restaurant-card_description {
  line-height: 10px;
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  align-items: initial;
  justify-content: space-between;
}

.fa-heart:hover {
  font-weight: 900;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/*footer*/
footer {
  background-color: #292929;
  display: flex;
  flex-direction: column;
  align-items: initial;
}
footer h3 {
  margin-left: 40px;
  margin-top: 30px;
  color: white;
  font-family: Shrikhand, sans-serif;
}
footer ul {
  margin-top: 5px;
}
footer ul li {
  list-style: none;
  margin-bottom: 10px;
}
footer ul li .footer_link {
  text-decoration: none;
  color: white;
}
footer .footer_icon {
  padding-right: 7px;
}

/*---- pages menu ----*/
/*--header--*/
.header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5px;
  justify-content: space-evenly;
}
.header-menu h1 {
  font-family: Shrikhand, sans-serif;
  margin: 0;
  margin-right: 40px;
}
.header-menu a {
  color: black;
}
.header-menu .fas {
  margin-left: -45px;
}

/*main pg menu*/
.menu-img {
  object-fit: fill;
  width: 100%;
}
.menu-card {
  display: flex;
  flex-direction: column;
  align-items: initial;
  padding: 12px;
  background-color: #F5F5F5;
  margin-top: -50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.menu-card_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
}
.menu-card_title h2 {
  font-family: Shrikhand, sans-serif;
  margin: 0;
  padding-right: 35px;
}
.menu-card_title .far {
  padding-right: 25px;
}
.menu-card_platscategorie_text {
  margin-top: 35px;
}
.menu-card_platscategorie_text .testspan {
  border-bottom: 3px solid #99E2D0;
}
.menu-card_platscategorie_block {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  border-radius: 15px;
  padding: 0px;
  color: black;
  background: #F5F5F5;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-decoration: none;
  width: 100%;
  height: auto;
  line-height: 22px;
  margin-bottom: 15px;
  background-color: #fff;
  opacity: 0;
  animation: apparition 800ms forwards linear;
}
.menu-card_platscategorie_block :hover + .checkpart {
  animation: checkmenu 1s forwards;
}
.menu-card_platscategorie_block :hover + .checkpart .fa-check-circle {
  transform: rotate(360deg);
}
.menu-card_platscategorie_block .platname {
  width: 100%;
  padding: 10px;
}
.menu-card_platscategorie_block .test {
  margin: 0;
}
.menu-card_platscategorie_block .testp {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
}
.menu-card_platscategorie_block .testp span {
  float: right;
  font-weight: bold;
  float: right;
}
.menu-card_platscategorie_block .checkpart {
  background-color: #99E2D0;
  text-align: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  opacity: 0;
}
.menu-card_platscategorie_block .checkpart .checked {
  margin-top: 25px;
  color: white;
  transition: transform 1s;
}
.menu-card_platscategorie .entre {
  animation-delay: 200ms;
}
.menu-card_platscategorie .plat {
  animation-delay: 400ms;
}
.menu-card_platscategorie .dessert {
  animation-delay: 600ms;
}
.menu-card_btncommander {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 150px;
  padding-left: 27%;
}
.menu-card_btncommander_button {
  border-radius: 30px;
  padding: 10px 40px;
  color: #fff;
  background: linear-gradient(#FF79DA, #9356DC);
  font-size: 15px;
  font-weight: normal;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  text-decoration: none;
}
.menu-card_btncommander_button:hover {
  opacity: 0.8;
}

/** Animation**/
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes checkmenu {
  0% {
    opacity: 0;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 20%;
  }
}

/*# sourceMappingURL=style.css.map */
