@import "./utils/mixin.scss";
@import "./utils/variables.scss";

body{
    margin:0px;
    @include fonttext;
}

/*maps*/
.headerproperty {
    text-align: center;
}

$gradient:linear-gradient((map-get($color,Secondaire)), (map-get($color,black)));
/* header*/
.header{
    margin-top: 10px;
    @include flexprprety(column,center);
    &logo{
        @include logosize(40%);
        margin-bottom: 10px;
    }
    &search{
        @extend .headerproperty;
        background-color: darken($colorgray,10);
        padding-top: 20px;
        box-shadow: inset 0 7px 10px -6px grey;
        width: $larger;
        height: 40px;
        color:map-get($color,noir);
        
    }
    &input{
        background-color: transparent;
        border: 0px;
        font-weight: bold;
        width:120px;
    }
    
    .banner{
        background-color: $colorgray;
        width: $larger;
        height: 330px;
        @include flexprprety(column,center);
        h1{
                @extend .headerproperty;
                font-size: 30px;
                padding-top: 10px;  
        }
        p{
            @extend .headerproperty;
            font-size: 20px;
            color: darken($colorgray,70);
        }
        &button{
            @include btn(30px,20px,#fff,linear-gradient((map-get($color,Secondaire)), (map-get($color,Primaire))),17px,bold);
            margin-top: 15px;
        }
        a:hover{
            @include hovercolor(0.8);
        }
    }
}
#paris::placeholder{
    color:map-get($color,noir);
}


/*block fontionnement*/
main{
    @include flexprprety(column,initial);
    h2{
        margin-left: 20px;
    }
    .blocksteps{
        @include flexprprety(column,center);
        margin-left: 0px;
    }
    .step{
        @include flexprprety(row,center);
        @include btn(20px,10px,map-get($color,noir),$colorgray,18px,bold);
        @include btnfunction(80%,50px);
        margin-bottom: 20px;
        
        
        &:hover{
            background:lighten((map-get($color, Primaire)),30);
            .stepicon{
            color:map-get($color, Primaire) ;
            }
        }
        

        &number{
            @include btn(50%,3px,#fff,map-get($color,Primaire),15px,lighter);
            @include btnfunction(20px,19px);
            @extend .headerproperty;
            margin-left: -20px;
            
        }
        &text{
            margin-left: 20px;
        }
        &icon{
            color: darken($colorgray,50);
            padding-right: 20px;
            width: 20px;
        }
        
    }
    .restaurant{
        @include flexprprety(column,initial);
        background-color: $colorgray;
        padding-top: 15px;
        &-card{
            @include flexprprety(column,initial);
            @include cardmenu;
            text-decoration: none;
            color: map-get($color, noir);
            margin-bottom: 30px;
            height: 255px;
            &_image{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                height: 180px;
                object-fit: fill;
                width: 100%;
            } 
            .imgfix{
                object-position: 40% 60%;
                object-fit: cover;
            }
            
            &_badge{
                position: absolute;
                background-color: map-get($color, Tertiaire);
                color: darken(map-get($color, Tertiaire),40) ;
                right:35px;
                margin-top: 20px;
                padding: 7px 15px;
                font-size: 18px;
                border-radius: 5px;
            }
            h3{
                margin: 0px;
                margin-top: 8px;
            }
            &_description{
                line-height: 10px;
                padding:12px 20px;
                @include flexprprety(row,initial);
                justify-content: space-between;
            }
        } 
    }
}
.fa-heart:hover{
        font-weight: 900;
        background: linear-gradient(to top, (map-get($color,Secondaire)), (map-get($color,Primaire)));
        background-clip:text;
        -webkit-background-clip:text;
        color:transparent;
    }


/*footer*/
footer{
    background-color:darken($colorgray,80);
    @include flexprprety(column,initial);
    h3{
        margin-left: 40px;
        margin-top: 30px;
        color: white;
        @include fonttitle;
    }
    ul{
        margin-top: 5px;
    }
    ul li{
        list-style: none;
        margin-bottom: 10px;
        .footer_link{
            text-decoration: none;
            color: white;
        } 
    }
    .footer_icon{
        padding-right:7px;
    } 
}

/*---- pages menu ----*/

/*--header--*/
.header-menu{
    @include flexprprety(row,center);
        margin-top:5px;
        justify-content:space-evenly;
        h1{
            @include fonttitle;
            margin: 0;
            margin-right: 40px;
        }
        a{
            color: black;
        }
        .fas{
            margin-left: -45px;
        }
    }  
/*main pg menu*/
.menu{
    &-img{
        object-fit: fill;
        width: 100%;
    }
    &-card{
        @include flexprprety(column,initial);
        padding:12px;
        background-color:$colorgray ;
        margin-top: -50px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    
        &_title{
            @include flexprprety(row,center);
            justify-content: space-between;
            margin-top: 35px;
            h2{
                @include fonttitle;
                margin:0;
                padding-right: 35px;
            }
            .far{
                padding-right: 25px;
            }
        }
        &_plats{
            
            &categorie{
                
                &_text{
                    margin-top: 35px;
                    .testspan{
                        border-bottom: 3px solid map-get($color, Tertiaire);
                    }
                }
                &_block{
                    @include flexprprety(row,space-between);
                    @include btn(15px,0px,map-get($color,noir),$colorgray,16px,bold);
                    @include btnfunction(100%,auto);
                    line-height: 22px;
                    margin-bottom: 15px;
                    background-color: #fff;
                    opacity: 0;
                    animation: apparition 800ms forwards linear;
                    
                    :hover + .checkpart {
                        animation: checkmenu 1s forwards;
                        & .fa-check-circle{
                            transform: rotate(360deg);
                        }
                    }
                    
                    .platname{
                        width: 100%;
                        padding: 10px;
                    }
                    
                    .test{
                        margin: 0;
                    }
                    .testp{
                        margin: 0;
                        font-weight: normal;
                        font-size: 14px;
                        span{
                            float: right;
                            font-weight: bold;
                            float: right;
                        }
                    }
                    .checkpart{
                        background-color: map-get($color,Tertiaire );
                        text-align: center;
                        border-top-right-radius: 15px;
                        border-bottom-right-radius: 15px;
                        opacity: 0;
                        .checked{
                            margin-top: 25px;
                            color: white;
                            transition: transform 1s;
                        }
                    }
                     
                }
                .entre{
                    animation-delay:200ms;
                }
                .plat{
                    animation-delay:400ms;
                }
                .dessert{
                    animation-delay:600ms;
                }
            }
        }
        &_btncommander{
            margin-top: 40px;
            margin-bottom: 30px;
            @extend .headerproperty;
            width: 150px;
            padding-left: 27%;
            &_button{
                @include btn(30px,10px 40px ,#fff,linear-gradient((map-get($color,Secondaire)), (map-get($color,Primaire))),15px,normal);
            &:hover{
                @include hovercolor(0.8);
            }
            }
        }
    }
}
    
/** Animation**/
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }

}
@keyframes checkmenu {
    0%{
        opacity:0;
        width:0;
    }
    100%{
        opacity: 1;
        width: 20%;
    }
    
}
