@import "./utils/mixin.scss";
@import "./utils/variables.scss";

body{
    margin:0px;
    @include fonttext;
}

/*maps*/
.headerproperty {
    text-align: center;
}
.flexprprety {
    display: flex;
    flex-direction: column; 
}
/* header*/
.header{
    margin-top: 10px;
    @extend .flexprprety;
    align-items: center;
    &logo{
        @include logosize(40%);
        margin-bottom: 10px;
    }
    &search{
        @extend .headerproperty;
        background-color: darken($colorgray,10);
        padding-top: 20px;
        box-shadow: inset 0 7px 10px -6px grey;
        width: $larger;
        height: 40px;
        color:map-get($color,noir);
        
    }
    &input{
        background-color: transparent;
        border: 0px;
        font-weight: bold;
        width:120px;
    }
    
    .banner{
        background-color: $colorgray;
        width: $larger;
        height: 330px;
        @extend .flexprprety;
        align-items: center;
        h1{
                @extend .headerproperty;
                font-size: 30px;
                padding-top: 10px;  
        }
        p{
            @extend .headerproperty;
            font-size: 20px;
            color: darken($colorgray,70);
        }
        &button{
            @include btn(30px,20px,#fff,linear-gradient((map-get($color,Secondaire)), (map-get($color,Primaire))),17px,bold);
            margin-top: 15px;
        }
        a:hover{
            color:map-get($color,noir);
        }
    }
}
#paris::placeholder{
    color:map-get($color,noir);
}


/*block fontionnement*/
main{
    @extend .flexprprety;
    h2{
        margin-left: 20px;
    }
    .blocksteps{
        @extend .flexprprety;
        align-items: center;
        margin-left: 0px;
    }
    .step{
        
        display: flex;
        flex-direction: row;
        @include btn(20px,10px,map-get($color,noir),$colorgray,18px,bold);
        @include btnfunction(80%,50px);
        align-items: center;
        margin-bottom: 20px;
        
        
        &:hover{
            background:lighten((map-get($color, Primaire)),30);
            .stepicon{
            color:map-get($color, Primaire) ;
            }
        }
        

        &number{
            @include btn(50%,3px,#fff,map-get($color,Primaire),15px,lighter);
            @include btnfunction(20px,19px);
            text-align: center;
            margin-left: -20px;
            
        }
        &text{
            margin-left: 20px;
        }
        &icon{
            color: darken($colorgray,50);
            padding-right: 20px;
            width: 20px;
        }
        
    }
    .restaurant{
        @extend .flexprprety;
        background-color: $colorgray;
        padding-top: 15px;
        &-card{
            @extend .flexprprety;
            @include cardmenu;
            text-decoration: none;
            color: map-get($color, noir);
            margin-bottom: 30px;
            height: 255px;
            &_image{
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                height: 180px;
                object-fit: fill;
                width: 100%;
            } 
            &_badge{
                position: absolute;
                background-color: map-get($color, Tertiaire);
                color: darken(map-get($color, Tertiaire),40) ;
                right:35px;
                margin-top: 20px;
                padding: 7px 15px;
                font-size: 18px;
                border-radius: 5px;
            }
            h3{
                margin: 0px;
                margin-top: 8px;
            }
            &_description{
                line-height: 10px;
                padding:12px 20px;
                display: flex;
                flex-direction: row;
                justify-content: space-between;  
            }
            
        
        } 
    }
}
/*footer*/
footer{
    background-color:darken($colorgray,80);
    @extend .flexprprety;
    h3{
        margin-left: 40px;
        margin-top: 30px;
        color: white;
        @include fonttitle;
    }
    ul{
        margin-top: 5px;
    }
    ul li{
        list-style: none;
        margin-bottom: 10px;
        .footer_link{
            text-decoration: none;
            color: white;
        } 
    }
    .footer_icon{
        padding-right:7px;
    } 
}
/* pages*/
.header{
    &-menu{
        display: flex;
        flex-direction:row;
        align-items: center;
        margin-top:5px;
        margin-left: 30px;
        h1{
            @include fonttitle;
            margin: 0;
            padding-left: 80px;
        }
        a{
            color: black;
        }
    }  
}

.menu{
    &-img{
        object-fit: fill;
        width: 100%;
    }
    &-card{
        @extend .flexprprety;
        padding:12px;
        background-color:$colorgray ;
        margin-top: -50px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
    
        &_title{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 35px;
            h2{
                @include fonttitle;
                margin:0;
                padding-right: 35px;
            }
            .far{
                padding-right: 25px;
            }
        }
        &_plats{
            
            &categorie{
                
                &_text{
                    margin-top: 35px;
                    .testspan{
                        border-bottom: 3px solid map-get($color, Tertiaire);
                    }
                }
                &_block{
                    @extend .flexprprety;
                    @include btn(15px,8px,map-get($color,noir),$colorgray,16px,bold);
                    @include btnfunction(95%,40px);
                    line-height: 22px;
                    margin-bottom: 15px;
                    padding:8px;
                    .test{
                        margin: 0;
                    }
                    .testp{
                        margin: 0;
                        font-weight: normal;
                        font-size: 14px;
                        span{
                            float: right;
                            font-weight: bold;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
        &_btncommander{
            margin-top: 30px;
            margin-bottom: 30px;
            text-align: center;
            width: 150px;
            padding-left: 30%;
            &_button{
                @include btn(30px,10px 40px ,#fff,linear-gradient((map-get($color,Secondaire)), (map-get($color,Primaire))),15px,normal);
            }
        }
    }
}
    
