/*---- pages menu ----*/


/*main pg menu*/
.textellipsis{
    font-weight: lighter;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.menu{
    &-img{
        object-fit: fill;
        width: $larger;
        @media (min-width: 1025px){
            height: 600px;
        }
    }
    &-card{
        @include flexprprety(column,initial);
        padding:12px;
        background-color:$colorgray ;
        margin-top: -50px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        @media (min-width: 768px) and (max-width: 1024px){
            margin-top: -120px;
            border-top-left-radius: 80px;
            border-top-right-radius: 80px;
        }
        @media (min-width: 1025px){
            margin-top: -200px;
            border-top-left-radius: 60px;
            border-top-right-radius: 60px;
            padding:40px;
        }
        &_title{
            @include flexprprety(row,center);
            justify-content: space-between;
            margin-top: 35px;
            @media (min-width: 768px) and (max-width: 1024px){
                justify-content: center;
            }
            @media (min-width: 1025px){
                margin-top: 15px;
            }
            h2{
                @extend .fonttitle;
                margin:0;
                padding-right: 35px;
            }
            .far{
                padding-right: 25px;
            }
        }
        &_proposition{
            @media (min-width: 1025px){
                @include flexprprety(row,initial);
                flex-wrap: wrap;
                margin-top: 20px;
                width: 100%;
                justify-content: space-between;
            }

            &entry{
                margin-top: 30px;
                @media (min-width: 768px) and (max-width: 1024px){
                    @include flexprprety(column,center);
                }
                
                .testspan{
                    border-bottom: 3px solid map-get($color, Tertiaire);
                }
                
                
                    .block{
                        @include btn(15px,0px,map-get($color,noir),$colorgray,16px,bold);
                        @include size($larger,auto);
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        animation: apparition 1s forwards linear;
                        margin-top: 15px;
                        text-decoration: none;
                        opacity: 0;
                        
                        @media (min-width: 768px) and (max-width: 1024px){
                            width: 80%;
                        }
                        @media (min-width: 1025px){
                            width: 100%;  
                        }
                        :active + .check {
                            animation: checkmenu 1s forwards ease-out;
                            & .fa-check-circle{
                                transform: rotate(360deg);
                            }
                        }
                        
                        @media (min-width: 1025px){
                            :hover+ .check {
                                animation: checkmenu 1s forwards ease-out;
                                & .fa-check-circle{
                                    transform: rotate(360deg);
                                }
                            }
                            :not(:hover){
                                
                            }
                        }
                        .carte{
                            display: flex;
                            flex-direction: row;
                            padding:10px;
                            align-items: flex-end;
                            
                            width: 100%;
                            justify-content: space-between;
                            @media (min-width: 1025px){
                                width: 400px;
                            }
                            .platdetails{
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                width:80%;
                                .cartetitle{
                                    @extend .textellipsis;
                                }
                                .cartedescirption{
                                    @extend .textellipsis;
                                }
                            }
                        }
                        
                        .check{
                            background-color: map-get($color,Tertiaire );
                            border-top-right-radius: 15px;
                            border-bottom-right-radius: 15px;
                            text-align: center;
                            margin-left: 5px;
                            opacity: 0;
                            .checked{
                                margin-top: 20px;
                                color: white;
                                transition: transform 1s;
                            }
                        }  
                    }
                    
                
                
                .entre{
                    animation-delay:200ms;
                }
                .plat{
                    animation-delay:400ms;
                }
                .dessert{
                    animation-delay:600ms;
                }
                
            }
        }
        &_btncommander{
            margin-top: 40px;
            margin-bottom: 30px;
            @extend .textcenter;
            &_button{
                @include btn(30px,10px 40px ,#fff,linear-gradient((map-get($color,Secondaire)), (map-get($color,Primaire))),15px,normal);
            &:hover{
               @include buttoneffect;
            }
            }
        }
    }
}


 /** Animation page menu**/
@keyframes apparition {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }

}
@keyframes checkmenu {
    0%{
        opacity:0;
        width:0;
    }
    100%{
        opacity: 1;
        width: 20%;
    }
    
}  

