@mixin logosize($larger){
    width: $larger;
}
@mixin fonttext {
    font-family:  Roboto, sans-serif;
}
@mixin fonttitle {
    font-family:   Shrikhand, sans-serif;
}
@mixin hovercolor ($opacitydegre) {
    opacity: $opacitydegre;
}   
@mixin flexprprety($direcetion,$alignment) {
    display: flex;
    flex-direction: $direcetion;
    align-items:$alignment;
}

@mixin btn($raduis,$espace,$couleur,$bgcolor,$size,$ftweight){
    border-radius: $raduis;
    padding:$espace;
    color: $couleur;
    background: $bgcolor;
    font-size:$size;
    font-weight:$ftweight;
    border: none;
    box-shadow: $shadow;
    text-decoration: none;
    
}
@mixin btnfunction($largeur,$hauteur) {
    width: $largeur;
    height: $hauteur;
    
}
@mixin cardmenu {
    margin-left: 15px;
    background-color:white;
    width:90%;
    height: auto;
    border-radius: 20px;
}